{% extends 'Authority/home index.html' %}
{% block body %}

<body><form action="/myapp/authority_viewprofile_post/" method="post">
    <table class="table table-bordered">
    {% csrf_token %}

  <tr>
    <td>Name</td>
    <td>&nbsp;{{ data.name }}</td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td>&nbsp;{{ data.email }}</td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>&nbsp;{{ data.phone }}</td>
  </tr>
  <tr>
    <td>Place</td>
    <td>&nbsp;{{ data.place }}</td>
  </tr>
  <tr>
    <td>Post</td>
    <td>{{ data.post }}</td>
  </tr>
  <tr>
    <td>District</td>
    <td>&nbsp;{{ data.district }}</td>
  </tr>
  <tr>
    <td>Pincode</td>
    <td>&nbsp;{{ data.pincode }}</td>
  </tr>

</table>


</form>
</body>
{% endblock %}
