<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/myapp/authority_viewallocatedstaff_post/" method="post"><table width="200" border="1">
    {% csrf_token %}
  <tr>
    <td>From Date</td>
    <td><label for="textfield"></label>
      <input type="date" name="textfield" id="textfield" /></td>
    <td>To Date</td>
    <td><label for="textfield2"></label>
      <input type="date" name="textfield2" id="textfield2" /></td>
    <td><input type="submit" name="button" id="button" value="Search" /></td>
  </tr>
</table>
  <table width="200" border="1">
    <tr>
      <td>Serial No</td>
      <td>Staff</td>
      <td>Date</td>
      <td>Hall Allocation</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.STAFF.name }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>{{ i.HALLALLOCATION.HALL.roomno }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
