{% extends 'Staff/home index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/staff_sendcomplaint_post/">
    <table class="table table-bordered">
  <tr>{% csrf_token %}
    <td>Complaint</td>
    <td><input type="text" name="textfield" id="textfield" class="form-control" required/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Send" class="btn btn-success"/></td>
  </tr>
</table>

</form>
</body>
{% endblock %}
