{% extends 'Staff/home index.html' %}
{% block body %}


<body><form action="/myapp/staff_viewexamschedule_post/" method="post">
<table class="pull-left mb-3 mt-3" >
{% csrf_token %}
  <tr>
    <td>From Date</td>
    <td><input type="date" name="textfield2" id="textfield2" class="form-control"/></td>
    <td>To Date</td>
    <td><input type="date" name="textfield" id="textfield" class="form-control"/></td>
    <td><input type="submit" name="button" id="button" value="Search" class="btn btn-info"/></td>
  </tr>
</table>
    <table class="table table-bordered">
    <tr>
      <td>Serial No</td>
      <td>Date</td>
      <td>From Time</td>
      <td>To Time</td>
      <td>Exam Name</td>
      <td>Exam Code</td>
      <td>Exam Type</td>
    </tr>{% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.fromtime }}</td>
      <td>&nbsp;{{ i.totime }}</td>
      <td>&nbsp;{{ i.EXAM.examname }}</td>
      <td>&nbsp;{{ i.EXAM.examcode }}</td>
      <td>&nbsp;{{ i.EXAM.type }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
