<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post"><table width="200" border="1">
    <tr>
      <td>Serial No</td>

      <td>Date</td>
      <td>Hall Allocation</td>
      <td></td>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>{{ i.HALLALLOCATION.HALL.roomno }}</td>
          <td><a href="/myapp/staff_viewallocatedexam/{{ i.id }}">Exam</a></td>
    </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
