<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/myapp/admin_editauthority_post/" method="post">
    <input type="hidden" name="id" value="{{ data.id }}">
    {% csrf_token %}
<table width="200" border="1">
  <tr>
    <td>Name</td>
    <td><input name="textfield" type="text" value="{{ data.name }}" />&nbsp;</td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td><input type="text" name="textfield3" id="textfield3" value="{{ data.email }}" /></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><input type="text" name="textfield4" id="textfield4" value="{{ data.phone }}" /></td>
  </tr>
  <tr>
    <td>Place</td>
    <td><input type="text" name="textfield2" id="textfield2" value="{{ data.place }}" /></td>
  </tr>
  <tr>
    <td>Post</td>
    <td><input type="text" name="textfield5" id="textfield5" value="{{ data.post }}" /></td>
  </tr>
  <tr>
    <td>District</td>
    <td><input type="text" name="textfield6" id="textfield6" value="{{ data.district }}"/></td>
  </tr>
  <tr>
    <td>Pincode</td>
    <td><input type="text" name="textfield7" id="textfield7" value="{{ data.pincode }}"/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="Update" /></td>
  </tr>
</table>
</form>
</body>
</html>
