<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/myapp/admin_viewcomplaint_post/" method="post"><table width="200" border="1">
        {% csrf_token %}

  <tr>
    <td>From Date</td>
    <td><input type="date" name="textfield" id="textfield" /></td>
    <td>To Date</td>
    <td><input type="date" name="textfield2" id="textfield2" /></td>
    <td><input type="submit" name="button" id="button" value="Search" /></td>
  </tr>
</table>
  <table width="200" border="1">
    <tr>
      <th>Serial No</th>
      <th>Date</th>
      <th>Staff</th>
      <th>Complaint</th>
      <th>Status</th>
      <th>&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.STAFF.name }}</td>
      <td>{{ i.complaint }}</td>
      <td>&nbsp;{{ i.status }}</td>
      <td>
      {% if i.status == 'Pending' %}
          <a href="/myapp/admin_reply/{{ i.id }}">Reply</a>
          {% else %}
          {{ i.reply }}
          {% endif %}

      </td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
