<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/myapp/admin_viewhall_post" method="post"><table width="200" border="1">
    {% csrf_token %}

  <tr>
    <td>Serial No</td>
    <td>Room No</td>
    <td>floor</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <td> {{ forloop.counter }}</td>
    <td>&nbsp;{{ i.roomno }}</td>
    <td>&nbsp;{{ i.floor }}</td>
    <td><a href="/myapp/admin_edithall/{{ i.id }}">Edit</a></td>
    <td><a href="/myapp/admin_deletehall/{{ i.id }}">Delete</a></td>
    <td><a href="/myapp/admin_addhallallocation/{{ i.id }}">Exam Allocation</a></td>
  </tr>
    {% endfor %}
</table>

</form>
</body>
</html>
